{% extends 'base.html.twig' %}

{% block title %}
    Ingreso
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('/build/css/app.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        body {
            background-color: #343a40;
        }

        .card-header {
            text-align: center;
        }
    </style>

{% endblock %}


{% block body %}


    <div class="container py-5">

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center text-white mb-4"><!--Título que decidí que fuera vacío --></h2>
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <!-- form card login -->
                        <div class="card rounded-0">
                            <div class="card-header">
                                <h3 class="mb-0">Ingreso</h3>
                            </div>
                            <div class="card-body">
                                <form action="{{ path('security_login') }}" method="post" class="form" role="form"
                                      autocomplete="off" id="formLogin" novalidate=""
                                      method="POST">
                                    <div class="form-group">
                                        <label class="form-control-label required" for="username">Usuario</label>
                                        <input type="text" id="username" name="_username" class="form-control" required
                                               autofocus>
                                        <div class="invalid-feedback">Ingresá el usuario.</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label required" for="password">Contraseña</label>
                                        <input type="password" id="password" name="_password" class="form-control"
                                               required>
                                        <div class="invalid-feedback">Ingresá la clave.</div>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Recordar
                                            Contraseña</label>
                                    </div>
                                    <hr class="my-4">
                                    <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">
                                        Ingresar
                                    </button>

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <input type="hidden" name="_target_path"
                                           value="{{ app.request.get('redirect_to') }}">

                                </form>
                            </div>
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->
                    </div>
                </div><!--/row-->
            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->


{% endblock %}




