<footer>
    <div class="container">
        <div class="row">
            <div id="footer-copyright" class="col-md-6">
                <p>&copy; {{ 'now'|date('Y') }} - Registro</p>
                <p>{{ 'mit_license'|trans }}</p>
            </div>
            <div id="footer-resources" class="col-md-6">
            </div>
        </div>
    </div>
</footer>