<header>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header col-md-4 col-lg-4">
                <a class="navbar-brand" href="{{path('default_index')}}">
                    Registro Personas
                </a>
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

{#                    {% block header_navigation_links %}#}
{#                        <li>#}
{#                            <a href="{{ path('blog_index') }}">#}
{#                                <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }}#}
{#                            </a>#}
{#                        </li>#}
{#                        {% if is_granted('ROLE_ADMIN') %}#}
{#                            <li>#}
{#                                <a href="{{ path('admin_post_index') }}">#}
{#                                    <i class="fa fa-lock" aria-hidden="true"></i> {{ 'menu.admin'|trans }}#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                    {% endblock %}#}

{#                    <li>#}
{#                        <a href="{{ path('blog_search') }}"> <i class="fa fa-search"></i> {{ 'menu.search'|trans }}#}
{#                        </a>#}
{#                    </li>#}

{#                    {% if app.user %}#}
{#                        <li>#}
{#                            <a href="{{ path('security_logout') }}">#}
{#                                <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}#}
{#                            </a>#}
{#                        </li>#}
{#                    {% endif %}#}

{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"#}
{#                           aria-expanded="false" id="locales">#}
{#                            <i class="fa fa-globe" aria-hidden="true"></i>#}
{#                            <span class="caret"></span>#}
{#                            <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">#}
{#                            {% for locale in locales() %}#}
{#                                <li {% if app.request.locale == locale.code %}aria-checked="true" class="active"#}
{#                                    {% else %}aria-checked="false"{% endif %} role="menuitem"><a#}
{#                                            href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}</a>#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </li>#}

{#                    {% if not app.user %}#}
{#                        {% include('user/login.html.twig') %}#}
{#                    {% endif %}#}
                </ul>
            </div>
        </div>
    </div>
</header>