{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block content_header_wrapper %} {% endblock content_header_wrapper %}

{% block main %}
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label>
                    Notificación Push
                </label>
                <br>
                <small id="emailHelp" class="form-text text-muted">
                    Ingrese el título y el contenido, una vez que presione el botón "Enviar" se
                    notificará a todos
                    los usuarios que autorizaron rescibir mensajes al momento de instalar la App.
                </small>
            </div>
            <div class="panel-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        {% if message %}
            <div class="alert alert-{{ message.status }}">
                {{ message.text }}
            </div>
        {% endif %}
    </div>
{% endblock main %}

{% block content_footer_wrapper %} {% endblock content_footer_wrapper %}
