{# templates/admin/new.html.twig #}
{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block content_title %}{% endblock %}

{% block main %}
    {% block entity_form %}
        {{ form(form) }}
    {% endblock entity_form %}

    <div class="col-xs-12">
        <div class="form-group">
            <label class="col-sm-2 control-label">Generar Token</label>
            <div class="col-sm-10">
                <button id="generar_token">Generar Token</button>
            </div>
        </div>
    </div>
    <div class="resultado"></div>
{% endblock %}


{% block body_javascript %}
    {{ parent() }}
    <script>
        $(function () {

            $("#generar_token").on('click', function () {
                let userid = $("#apikey_user").val();
                generarToken(userid);
            });

            function generarToken(userid) {
                $.ajax({
                    type: "POST",
                    async: false,
                    data: {
                        'userid': userid,
                    },
                    url: "{{ path('token_generate') }}",
                    success: function (data) {
                        $("#apikey_token").val(data.token);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                    }
                });
            }

        });
    </script>
{% endblock %}
