
{# templates/admin/new.html.twig #}
{% extends '@EasyAdmin/default/new.html.twig' %}

{% block content_title %}{% endblock %}

{% block main %}
    {% block entity_form %}
        {{ form(form) }}
    {% endblock entity_form %}


{% endblock %}


{% block body_javascript %}
    {{ parent() }}

    <script>
        $(function () {

            $("#generar_token").on('click', function () {
                let username_apikey = $("#apikey_user").text();
                let password = $("#password").val();
                generarToken(username_apikey, password);
            });


            function generarToken(username_apikey, password) {
                $.ajax({
                    type: "POST",
                    async: false,
                    data: {
                        'username': turno,
                        'password': password
                    },
                    url: {{ path('security_login') }},
                    success: function (data) {
                        alert(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                    }
                });
            }


        });
    </script>
{% endblock %}
